.galleryAge{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  
    &--card{
      max-width: 200px;
      padding: 10px;
      padding-bottom: 50px;
  
      img{
        width: 50%;
        height: 100%;
      }
    }
  }