.navbar{
  display: flex;
  flex-direction: row;
  /* align-content: flex-end; */
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 25px;

  a:hover{
    text-decoration: underline;
  }

}